/* styles in src/style directory are applied to the whole page */
body {
  background: #fff;
  color: #222;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-direction: column;
}
